{% extends 'base.html.twig' %}

 
    {% block body %}

 <h1 class="text-secondary text-center container-fluid pt-4 px-4">Commands list</h1>
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                
            </div>
            <div class="row">
            {% for i in paniers %}
            <div class="card" style="width: 25%">
                {# <img class="" src="{{ asset('uploads/fournisseur/'~i.img) }}" alt="" width="100%"> #}
                <div class="card-body">
                    <h5 class="card-title">Product: {{i.produit.nom  }}</h5>
                    
                    <h5 class="card-title">Price: {{i.produit.prix  }}</h5>
                    <h5 class="card-title">Reference: {{i.produit.reference  }}</h5>
                    <a class="btn btn-sm btn-primary" href="{{ path('panier_delete', { 'id': i.id  }) }}"><i class="fa fa-danger me-2"></i>Delete</a>
                     <a class="btn btn-sm btn-primary" href="{{ path('commande_nouvelle', { 'id': i.id  }) }}"><i class="fa fa-shopping-cart me-2"></i></a>
                       
                      
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <br>

{% endblock %}


