{% for commande in commandes %}
    <p>Commande n° {{ commande.id }}</p>
    <p>Nom : {{ commande.nom }}</p>
    <p>Prix : {{ commande.adresse }}</p>
    <p>Prix : {{ commande.adresse }}</p>
    <p>Prix : {{ commande.quantite }}</p>
    <!-- afficher d'autres propriétés si nécessaire -->
{% endfor %}
