{% extends 'base.html.twig' %}


{% block body %}
    {{ form_start(form) }}
        <div class="form-row align-items-end">
            <div class="col">
                {{ form_row(form.minPrice) }}
            </div>
            <div class="col">
                {{ form_row(form.maxPrice) }}
            </div>
            <div class="col">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Rechercher</button>
                </div>
            </div>
        </div>
        <div class="slider"></div>
    {{ form_end(form) }}
    <a href="{{ path('afficheP') }}" class="btn btn-primary">Return</a>

    {% if product %}
        <section class="product spad">
  <div class="product__items">
    
    <div class="row">
      {% for prod in product %}
      <div class="col-lg-4 col-md-6">
        <div class="product__item">
          <div class="product__item__pic set-bg" data-setbg="{{ asset('upload/' ~ prod.photo) }}" style="background-size: contain; background-repeat: no-repeat;">
            <ul class="product__hover">
              <li><a href="#"><img src="{{ asset('img/icon/heart.png') }}" alt=""></a></li>
              <li><a href="#"><img src="{{ asset('img/icon/compare.png') }}" alt=""> <span>Compare</span></a></li>
              <li><a href="{{path('Detailproduct',{'id':prod.id })}}"><img src="{{ asset('img/icon/search.png') }}"alt=""> <span>Detail</span></a></li>
            </ul>
          </div>
          <div class="product__item__text text-center"> <!-- Add text-center class to center align the content -->
            <h6>{{ prod.name }}</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <h5>{{ prod.price }} Dt</h5>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
    {% else %}
        <p>Aucun produit</p>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.min.css" rel="stylesheet" type="text/css" />



{% endblock %}
