{% extends 'base.html.twig' %}

{% block body %}

<div class="row search-form-container">
  <div class="col-lg-3">
    {% include 'product/_filter.html.twig' with {form: form} only %}
  </div>
  <div class="col-lg-9">
    <section class="product spad">
      <div class="product__items">
        <div class="row">
          {% for i in products %}
          <div class="col-lg-4 col-md-6">
            <div class="product__item">
              <div class="product__item__pic set-bg" data-setbg="{{ asset('upload/' ~ i.photo) }}" style="background-size: contain; background-repeat: no-repeat;">
                <div class="product__hover">
                  <ul>
                    <li><a href="#"><img src="{{ asset('img/icon/heart.png') }}" alt=""></a></li>

                    <li><a href="{{path('Detailproduct',{'id':i.id })}}"><img src="{{ asset('img/icon/search.png') }}"alt=""> <span>Detail</span></a></li>
                    <a href="#" class="add-cart">+ Add To Cart</a>
                  </ul>
                </div>
              </div>
              <div class="product__item__text text-center">
  <h6>{{ i.name }}</h6>
  <h5>{{ i.price }} Dt</h5>
  <a href="#" class="add-cart"><i class="fas fa-shopping-cart"></i> Add To Cart</a>

</div>

            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    {% if isPaginated %}

    <div class="row">
      <nav aria-label="col Page navigation example">
        <ul class="pagination">
          {% if page != 1 %}
          <li class="page-item"><a class="page-link" href="{{path('afficheP', {page: page -1, nbre: nbre})}}">Previous</a></li>
          {% endif %}
          {% for i in range(1,nbrePage) %}
          <li class="page-item"><a class="page-link" href="{{path('afficheP', {page: i, nbre: nbre})}}">{{i}}</a></li>
          {% endfor %}
          {% if page != nbrePage %}
          <li class="page-item"><a class="page-link" href="{{path('afficheP', {page: page +1, nbre: nbre})}}">NEXT</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
