{% extends 'base1.html.twig' %}
{% block table%}{% endblock%}

{% block form%}
    <br>
    <h1 class="mb-0 text-primary text-center">Update Supplier</h1>
    <br>
    {{form_start(f,{'attr': {'novalidate': 'novalidate'}} )}}
    <table class="table text-dark bg-light table-hover  ">
        <tr>
            <td class="text-center">{{ form_label(f.nom,"Supplier's name") }} </td>
            <td class="text-center"> {{ form_widget(f.nom) }} </td>
            <td > {{ form_errors(f.nom) }}</td>
        </tr>

        <tr>
            <td class="text-center">{{ form_label(f.email,"Supplier's E-mail") }} </td>
            <td class="text-center"> {{ form_widget(f.email) }} </td>
            <td > {{ form_errors(f.email) }}</td>
        </tr>

        <tr>
            <td class="text-center">{{ form_label(f.address,"Supplier's Address") }} </td>
            <td class="text-center"> {{ form_widget(f.address) }} </td>
            <td> {{ form_errors(f.address) }}</td>
        </tr>
        <tr>
            <td class="text-center">{{ form_label(f.tel,"Supplier's Phone number") }} </td>
            <td class="text-center"> {{ form_widget(f.tel) }} </td>
            <td> {{ form_errors(f.tel) }}</td>
        </tr>
        <tr>
            <td class="text-center">{{ form_label(f.website,"Supplier's website") }} </td>
            <td class="text-center"> {{ form_widget(f.website) }} </td>
            <td> {{ form_errors(f.website) }}</td>
        </tr>
        <tr>
            <td class="text-center">{{ form_label(f.categorie,"Supplier's Category") }} </td>
            <td class="text-center"> {{ form_widget(f.categorie) }} </td>
            <td > {{ form_errors(f.categorie) }}</td>
        </tr>
        <tr>
            <td class="text-center">{{ form_label(f.img,"Supplier's image") }} </td>
            <td class="text-center"> {{ form_widget(f.img) }} </td>
            <td > {{ form_errors(f.img) }}</td>
        </tr>
    </table>
    <div class="form-group " style="padding-left: 40%">
        <button id="user_save" class="btn btn-primary flex-sm-row btn">{{ button_label|default('Update Supplier') }}</button>
        <button  class="btn btn-secondary btn" href="{{ path('afficheF') }}">{{ button_label|default('Cancel') }}</button>
    </div>
    {{ form_end(f) }}
{% endblock%}

